<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Cadastros</h1>
    <p>Escolha um dos cadastros abaixo para ver sua listagem.</p>
    <a href="{% url 'listing' choice='produtos' %}">Produtos</a>
    <br>
    <a href="{% url 'listing' choice='categorias' %}">Categorias</a>
    <br>
    <a href="{% url 'listing' choice='fornecedores' %}">Fornecedores</a>
</body>
</html>