<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela Produtos</title>
</head>

<body>
    <table border="1">
        <h1>Listagem de Fornecedores</h1>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
        <tbody>
            {% for fornecedor in fornecedores %}
            <tr>
                <td>{{ fornecedor.name }}</td>
                <td>{{ fornecedor.email }}</td>
                <td>{{ fornecedor.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4><a href="{% url 'index'%}">Voltar para tela Inicial</a></h4>
</body>